<div class="container mx-auto py-6" data-controller="tournaments">
  <%= render 'header' %>
  <%= render 'filters' %>

  <%= turbo_frame_tag "tournaments_results" do %>
    <%= render "tournaments_list", tournaments: @tournaments %>
  <% end %>
</div>