---
http_interactions:
- request:
    method: post
    uri: https://api.start.gg/gql/alpha
    body:
      encoding: UTF-8
      string: '{"query":"query TournamentEvents($tournamentSlug: String!) {\n  tournament(slug:
        $tournamentSlug) {\n    id\n    name\n    events {\n      id\n      name\n      slug\n    }\n  }\n}\n","variables":{"tournamentSlug":"tournament-8"},"operationName":"TournamentEvents"}'
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Required-Client-Version:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"tournament":null},"extensions":{"cacheControl":{"version":1,"hints":[{"path":["tournament"],"maxAge":300,"scope":"PRIVATE"}]},"queryComplexity":1},"actionRecords":[]}'
  recorded_at: Mon, 26 May 2025 04:41:48 GMT
recorded_with: VCR 6.3.1
